---
layout: main
---

<!-- index for main website -->
  <!--<div class="posts">-->
    <!--{% for post in paginator.posts %}-->
      <!--<div class="post">-->
        <!--<a href="{{ post.url | prepend: site.baseurl }}" class="post-link">-->
          <!--<h3 class="h2 post-title">{{ post.title }}</h3>-->
          <!--<p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>-->
          <!--<p class="post-summary">{{ post.summary }}</p>-->
        <!--</a>-->
      <!--</div>-->
    <!--{% endfor %}-->
  <!--</div>-->
    <!--{% include pagination.html %}-->
  <!--</div>-->
<!--</div>-->

<div class="tagline">
    <p>I’m <b>Lyle</b>, a product designer leveraging a background in visual & interactive design with an empathetic understanding of software development. </p>
</div>

<section class="work">

    <!--{% for post in site.categories.portfolio %}-->
    <!--<a href="{{ post.url | prepend: site.baseurl }}" class="post-link">-->
        <!--<div class='box grow featured image-bg'>>-->
            <!--<h3 class="h2 post-title">{{ post.title }}</h3>-->
            <!--<p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>-->
            <!--<p class="post-summary">{{ post.summary }}</p>-->

        <!--</div>-->
    <!--</a>-->
    <!--{% endfor %}-->

    <a href="/spex">
        <div class='box grow skew ui-shot'>
            <img src="../images/projects/spex/spex-ui-lg.png" class="grow-big" alt="" />
            <div class='title'>Spex</div>
            <div class='description'> Mobile app to manage media recorded from a wearable camera.</div>
        </div>
    </a>

    <a href="/canvas">
        <div class='box grow shrink ui-shot featured portfolio-orange'>
            <img src="../images/projects/canvas/canvas-mockup.png" class="grow-big" alt="" />
            <div class='title'>Canvas</div>
            <div class='description'>Redesign of the popular Learning Management System.</div>
        </div>
    </a>

    <a href="/food-is-free">
        <div class='box grow shrink ui-shot portfolio-green'>
            <img src="../images/projects/fif/food-is-free-button.png" class="grow-big" alt="" />
            <div class='title'>Food Is Free</div>
            <div class='description'> Logo design for a global non-profit.</div>
        </div>
    </a>


    <a href="/relink">
        <div class='box grow shrink featured ui-shot portfolio-purple'>
            <img src="../images/projects/relink/ui-shot-lg.png" class="grow-big" alt="" />
            <div class='title'>Relink</div>
            <div class='description'> Mobile app to manage media recorded from a wearable camera.</div>
        </div>
    </a>

    <a href="/daydream">
        <div class='box grow enlarge image-bg'>
            <img src="../images/projects/daydream/final-03.jpg" class="grow-big" alt="" />
            <div class='title'>Daydream</div>
            <div class='description'> A physical prototype exploring adaptive lighting for commercial spaces.</div>
        </div>
    </a>

        <!--<div class='box grow ui-shot'>-->
            <!--<img src="../images/projects/spex/spex-ui-lg.png" class="grow-big" alt="" />-->
            <!--<div class='title'>Spex</div>-->
            <!--<div class='description'> Mobile app to manage media recorded from a wearable camera.</div>-->
        <!--</div>-->

        <!--<div class='box grow featured image-bg'>-->
            <!--<img src="../images/projects/daydream/final-03.jpg" class="grow-big" alt="" />-->
            <!--<div class='title'>Daydream</div>-->
            <!--<div class='description'> A physical prototype exploring adaptive lighting for commercial spaces.</div>-->
        <!--</div>-->
    </section>
