
<!-- PING -->

<div class="work-item" id="product-1">
    <div class="product-container"
         data-100-top="opacity: 1"
         data-top-bottom="opacity: 0"
         data-anchor-target="#product-1"
    >
        <div
                data--500-top="transform: translateY(100px)"
                data-bottom-top="transform: translateY(-100px)"

                >
        <img  class="product-mobile-img" data-aos="fade-up" src="https://www.dropbox.com/s/30pvw38xvld4jou/iphone-poo-2.gif?raw=1"/>
        </div>

        <div class="product-info" id="product-1-info"
        <!--data-bottom-top="transform: translateY(100px)"-->
        <!--data-top-bottom="transform: translateY(-100px)"-->
        <!--data-anchor-target=".product-info"-->

        <h1 class="product-title" data-aos="fade-up">Ping</h1>
        <div class="product-description">
            <p data-aos="fade-up">Mobile app facilitating disaster response.</p>
        </div>
        <!--<span class="product-category" data-aos="fade-up">UX, UI</span>-->

    </div>
    <div class="product-button" data-aos="fade-up">
        <a href="{{ site.baseurl }}/ping/">
            <button class="btn btn-reverse btn-arrow">
                <span>View case study<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve"><g><line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line><polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline></g></svg></span>
            </button>
        </a>
    </div>
</div>
</div>




<div class="product-spacer"></div>


<div class="work-item" id="product-2">
    <div class="product-container-img"
         data-100-top="opacity: 1"
         data-top-bottom="opacity: 0"
         data-anchor-target="#product-2"
         data-bottom-top="opacity: 0"
         data-bottom="opacity: 1"
    >
        <img class="product-photo-img" src="../../../images/projects/daydream/daydream-hero.jpg"
             data-bottom-top="transform: translateY(-100px)"
             data-top-bottom="transform: translateY(100px)"
             data-anchor-target=".product-photo-img"
        />
        <h1 class="product-title product-white-bg" data-aos="fade-up">Daydream</h1>
        <p class="product-description product-white-bg" data-aos="fade-up">Prototyping flexible, human-focused light for commercial spaces.</p>
        <div class="product-button">
            <button class="btn btn-reverse btn-arrow">
                <span>View case study<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve"><g><line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line><polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline></g></svg></span>
            </button></div>
        <div data-aos="fade-up">
            <!--<span class="product-category">PHYSICAL PROTOTYPE</span>-->
        </div>

    </div>
</div>


<div class="product-spacer"></div>


<div class="banner product-gallery flex-parent">
    <div class="product-gallery-item">
        <ul>
            <li class="flex-parent"><img  class="product-gallery-img center" src="https://www.dropbox.com/s/30pvw38xvld4jou/iphone-poo-2.gif?raw=1"></img></li>
            <li class="flex-parent"><img  class="product-gallery-img center" src="https://www.dropbox.com/s/30pvw38xvld4jou/iphone-poo-2.gif?raw=1"></img></li>
            <li class="flex-parent"><img  class="product-gallery-img center" src="https://www.dropbox.com/s/30pvw38xvld4jou/iphone-poo-2.gif?raw=1"></img></li>
            <li class="flex-parent"><img  class="product-gallery-img center" src="../../../images/projects/daydream/daydream-hero.jpg"></img></li>
        </ul>
    </div>
</div>



<div class="product-spacer" id="fadeout-trigger"></div>


