<div class="portfolio-section-header" data-aos="fade-up">
    <p class="center">Case Studies</p>
</div>


<div class="portfolio-card" data-aos="fade-up">
    <a href="/ping">
    <img src="../images/projects/ping/ping-hero-2.jpg">
        <p class="portfolio-title-text"><b>Ping</b> — helping communities organize after natural disasters</p>
</a>
</div>

<div class="portfolio-card" data-aos="fade-up" data-aos-delay="100">
    <a href="/daydream">
        <img src="../images/projects/daydream/daydream-angle.jpg">
        <p class="portfolio-title-text"><b>Daydream</b> — adaptive lighting for commercial spaces</p>
    </a>
</div>

<div class="portfolio-card" data-aos="fade-up">
    <a href="/canvas">
        <img src="../images/projects/canvas/canvas-hero-2.jpg">
        <p class="portfolio-title-text"><b>Canvas</b> — redesign of the learning management system</p>
    </a>
</div>

<div class="portfolio-card" data-aos="fade-up" data-aos-delay="100">
    <a href="/relink">
        <img src="../images/projects/relink/relink-hero-2.jpg">
        <p class="portfolio-title-text"><b>Relink</b> — a smart pen and a reimagined college textbook</p>
    </a>
</div>



<div class="portfolio-section-header" data-aos="fade-up" >
    <p class="center">For Fun</p>
</div>

<!--<div class="portfolio-card" data-aos="fade-up" data-aos-delay="100">-->
    <!--<a href="/oblique-strategies">-->
        <!--<img src="../images/projects/oblique-strategies/oblique-strategies-hero.jpg">-->
        <!--<p class="portfolio-title-text"><b>Oblique Strategies</b> by Brian Eno and Peter Schmidt</p>-->
    <!--</a>-->
<!--</div>-->

<div class="portfolio-card" data-aos="fade-up">
    <a href="/photos">
        <img src="../images/projects/film/film-hawk.jpg">
        <p class="portfolio-title-text"><b>Photos</b> — film</p>
    </a>
</div>

<div class="portfolio-card" data-aos="fade-up" data-aos-delay="100">
    <a href="/frameworks">
        <img src="../images/projects/frameworks/f-decisions.jpg">
        <p class="portfolio-title-text"><b>Frameworks</b> and thoughts</p>
    </a>
</div>





<!--<div class="portfolio-card">-->
    <!--<div class="iphone-mockup-container">-->
        <!--<img class="iphone-mockup" src="https://www.dropbox.com/s/30pvw38xvld4jou/iphone-poo-2.gif?raw=1">-->
    <!--</div>-->
    <!--<div class="portfolio-card-description"-->
        <!--<p class="portfolio-title-text">This is a dank ass project</p>-->
    <!--</div>-->
<!--</div>-->