---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="project-header" style="background: url('{{ page.image.url }}') no-repeat 50% 50% fixed;">
      <div>
        <div class="center">
          <h1></h1>
        </div>
      </div>
    </div>

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        <!-- begin {{ content }} -->

        <div class="post-header mb2">
          <h1>{{ page.title }}</h1>
          

          {% if page.website %}
            <div class="website"><a href="{{ page.website }}">{{ page.website }}</a></div>
          {% endif %}
        </div>

        {% if page.endorsements %}
          <div id="endorsements" class="span16">
            <h3>What {{ page.title }} had to say about us:</h3>
            {% for endorsement in page.endorsements %}
              <blockquote>
                {{ endorsement.body }}
                <small>{{ endorsement.from }}, {{ endorsement.role }}</small>
              </blockquote>
            {% endfor %}
          </div>
        {% endif %}

        <article class="post-content">

          {{ post.content }}

        </article>

        <!-- end {{ content }} -->
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>