<a href="/spex" class="normal">
    <div class='box grow shrink ui-shot portfolio-blue {% if page.url contains "/spex" %} current {% endif %}'>

        <img src="../images/projects/spex/spex-angle-line.png" class="grow-big" alt="" />
        <div class='title'>Spex {% if page.url contains "/spex" %} (current) {% endif %}</div>
        <div class='description'> Mobile app to manage media recorded from a wearable camera.</div>
    </div>

</a>

<a href="/canvas" class="normal">
    <div class='box grow shrink ui-shot portfolio-red {% if page.url contains "/canvas" %} current {% endif %}'>
        <img src="../images/projects/canvas/canvas-line.png" class="grow-big" alt="" />
        <div class='title'>Canvas {% if page.url contains "/canvas" %} (current) {% endif %}</div>
        <div class='description'>Redesign of the popular Learning Management System.</div>
    </div>
</a>

<a href="/food-is-free" class="normal">
    <div class='box grow shrink ui-shot portfolio-teal {% if page.url contains "/food-is-free" %} current {% endif %}'>
        <img src="../images/projects/fif/food-is-free-sign.png" class="grow-big" alt="" />
        <div class='title'>Food Is Free {% if page.url contains "/food-is-free" %} (current) {% endif %}</div>
        <div class='description'> Logo design for a global non-profit.</div>
    </div>
</a>


<a href="/relink" class="featured">
    <div class='box grow shrink ui-shot portfolio-purple {% if page.url contains "/relink" %} current {% endif %}'>
        <img src="../images/projects/relink/relink-line.png" class="grow-big" alt="" />
        <div class='title'>Relink {% if page.url contains "/relink" %} (current) {% endif %}</div>
        <div class='description'>A conceptual smartpen and companion app.</div>
    </div>
</a>

<a href="/daydream" class="featured">
    <div class='box grow shrink portfolio-blue {% if page.url contains "/daydream" %} current {% endif %}'>
        <img src="../images/projects/daydream/daydream-line.png" class="grow-big" alt="" />
        <div class='title'>Daydream {% if page.url contains "/daydream" %} (current) {% endif %}</div>
        <div class='description'> Physical prototype exploring flexible, human-focused lighting for commercial spaces. </div>
    </div>
</a>


<!--<a href="/natural-disasters" class="full-width">-->
<!--<div class='box grow enlarge image-bg'>-->
<!--<img src="" class="grow-big" alt="" />-->
<!--<div class='title'>Natural Disaster Response</div>-->
<!--<div class='description'><i>In progress:</i> coordinating local response efforts after a large-scale natural disaster.</div>-->
<!--</div>-->
<!--</a>-->