<!--<div class="shapes-container">-->

<!--{% for i in (1..1) %}-->
    <!--<a href="http://xn&#45;&#45;ks8h.ws/"><div class="circle random transparent parallax-front" id="shapeFade"></div></a>-->
    <!--<img src="{{ site.baseurl }}/images/other/zag-small.png" class ="random transparent parallax-middle">-->

    <!--{% endfor %}-->

<!--{% for i in (1..1) %}-->
    <!--<div class="circle-small random transparent parallax-middle" id="shapeFade"-->

    <!--&gt;</div>-->
    <!--&lt;!&ndash;parallax front&ndash;&gt;-->
    <!--<div><img src="{{ site.baseurl }}/images/other/zag.png" class ="random transparent parallax-front">-->
    <!--</div>-->
<!--{% endfor %}-->


<!--{% for i in (1..1) %}-->
    <!--<div class="cross random transparent parallax-front" id="shapeFade"></div>-->
<!--{% endfor %}-->

<!--{% for i in (1..1) %}-->
    <!--<div class="triangle random transparent parallax-front" id="shapeFade"></div>-->
    <!--{% endfor %}-->

    <!--{% for i in (1..3) %}-->
    <!--<div class="random transparent parallax-middle" id="shapeFade"><a href="http://xn&#45;&#45;ks8h.ws/">+</a></div>-->
    <!--{% endfor %}-->

<!--{% for i in (1..2) %}-->
    <!--<div class="square2 random transparent scale-50 parallax-middle" id="shapeFade"></div>-->
    <!--<div class="triangle-small random transparent parallax-middle" id="shapeFade"></div>-->
<!--{% endfor %}-->

<!--{% for i in (1..10) %}-->

    <!--<div-->
            <!--{% if page.url contains "/about" %}-->
            <!--data-start="transform: translateY(-800px)"-->
            <!--data-end="transform: translateY(0px);"-->
            <!--data-anchor-target=".shapes-container"-->
    <!--{% endif %}-->
    <!--&gt;-->
        <!--<div class="square3 random transparent parallax-back" id="shapeFade"></div>-->
    <!--</div>-->
<!--{% endfor %}-->

    <!--{% for i in (1..10) %}-->
    <!--<div>-->
        <!--<div class="circle-small random transparent parallax-back" id="shapeFade"></div>-->
    <!--</div>-->
    <!--{% endfor %}-->

    <!--&lt;!&ndash;<img src="{{ site.baseurl }}/favicon.gif" class ="random transparent parallax-front logo-shape">&ndash;&gt;-->


<!--</div>-->