@charset "UTF-8";


@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo_bold/Aleo-Bold-webfont.eot');
    src: url('../fonts/aleo_bold/Aleo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo_bold/Aleo-Bold-webfont.woff') format('woff'),
         url('../fonts/aleo_bold/Aleo-Bold-webfont.ttf') format('truetype'),
         url('../fonts/aleo_bold/Aleo-Bold-webfont.svg#aleobold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo_bolditalic/Aleo-BoldItalic-webfont.eot');
    src: url('../fonts/aleo_bolditalic/Aleo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo_bolditalic/Aleo-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/aleo_bolditalic/Aleo-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/aleo_bolditalic/Aleo-BoldItalic-webfont.svg#aleobolditalic') format('svg');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo_light/Aleo-Light-webfont.eot');
    src: url('../fonts/aleo_light/Aleo-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo_light/Aleo-Light-webfont.woff') format('woff'),
         url('../fonts/aleo_light/Aleo-Light-webfont.ttf') format('truetype'),
         url('../fonts/aleo_light/Aleo-Light-webfont.svg#aleolight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo_lightitalic/Aleo-LightItalic-webfont.eot');
    src: url('../fonts/aleo_lightitalic/Aleo-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo_lightitalic/Aleo-LightItalic-webfont.woff') format('woff'),
         url('../fonts/aleo_lightitalic/Aleo-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/aleo_lightitalic/Aleo-LightItalic-webfont.svg#aleolightitalic') format('svg');
    font-weight: 300;
    font-style: italic;

}



@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo_regular/Aleo-Regular-webfont.eot');
    src: url('../fonts/aleo_regular/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo_regular/Aleo-Regular-webfont.woff') format('woff'),
         url('../fonts/aleo_regular/Aleo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/aleo_regular/Aleo-Regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo_regularitalic/Aleo-Italic-webfont.eot');
    src: url('../fonts/aleo_regularitalic/Aleo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo_regularitalic/Aleo-Italic-webfont.woff') format('woff'),
         url('../fonts/aleo_regularitalic/Aleo-Italic-webfont.ttf') format('truetype'),
         url('../fonts/aleo_regularitalic/Aleo-Italic-webfont.svg#aleoitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}



$website-width: 52rem;

$website-background: white;



/********************

  Main SCSS styles 
  customized from Pixyll

*********************/

.push {
  height: 10rem;
}

body {
  font-family: "aleo", "PT Serif", Georgia, "Times New Roman", serif;
  letter-spacing: 0.02rem;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

.measure {
  max-width: $website-width;
}

.site-wrap {
  min-height: 100%;
  margin-bottom: -10rem;
  //background: $website-background;
}

.site-wrap:after {
  content: "";
  display: block;
}


body {
  font-size: 1.5rem;
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: $website-background;
}

  .p,
  p,
  li {
    font-weight: 300;
  }

.gist,
.gist .highlight .p {
  font-size: .75rem;
}

.gist .lines {
  width: 100%;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 200;
}

.site-header {
  text-align: center;
  margin-left: 0;
  padding-top: .1rem;
  background-color: rgba($website-background, 0.98);
  /*
  background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.01));
  background: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.01)); 
  background: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.01)); 
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.01));  */
}


.site-header a {
  color: #333;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .086rem;
  font-size: .9rem;
  font-weight: 300;
  transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;

}

.site-header nav a {
    font-size: .75rem;
    letter-spacing: .086rem;
    color: #666;
    text-transform: uppercase;
    padding-bottom: .2rem;
    padding-top: .175rem;
}

.site-header nav a:hover {
  color: #444;
  opacity: 1;
  border-bottom: 1px solid #555;

}

.site-header nav a:active {
  color: #444;
  opacity: 1;
  border-bottom: 1px solid #555;
}


.site-nav a + a {
  margin-left: 1.5em;
}

.site-nav {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

.active {
  font-weight: bold;
  border-bottom: 1px solid #555;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header-logo {
  margin-right: 1rem;
  margin-left: -2rem;
  max-width: 1rem;
}

.post-summary {
  margin-top: 1.05em;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  padding-bottom: .375em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.post-content p {
  background: $website-background;
  -webkit-box-shadow: 0px 0px 80px 20px rgba($website-background,1);
  -moz-box-shadow: 0px 0px 80px 20px rgba($website-background,1);
  box-shadow: 0px 0px 80px 20px rgba($website-background,1);
}

button {
  border: .2rem solid;
  width: 10rem;
  height: 4rem;
  font-family: 'Lato', Helvetica, sans-serif;
  background: none;
}

button:hover {

  background: black;
  border-color: #000;
  color: white;
}

.pagination,
.button {
  font-size: 1.2rem;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination a, .pagination .disabled {
  background: none;
  border-radius: 0em;
  border: none;
  color: #001F72;
}

.pagination .disabled {
  opacity: 0.35;

}

.pagination a:hover, .pagination a:focus {
  color: #002EA7;
  border-bottom: 2px solid #002EA7;
}

.pagination a:active {
  background: #f7f7f7;
}

.wrap .measure {
  margin: 0 auto;
}

.meta,
.post-meta {
  width: auto;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.pagination .button {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.button-disabled {
  opacity: 0.55;
  background-color: #999;
}

.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus {
  cursor: not-allowed;
  background-color: #999;
}

form {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

textarea.input {
  height: 8em;
}

p {
  font-weight: 300;
  line-height: 1.5;
  color: #333;
  margin: 0 0 2rem 0;
}

abbr {
  border-bottom: 1px black dotted;
  cursor: help;
}

pre, code {
  font-family: Menlo, Monaco, "Courier New", monospace
}

code {
  color: #7a7a7a;
  font-size: .75rem;
}

pre {
  padding: 1.125em;
  font-size: 1.125rem;
  line-height: 1.11;
  overflow-x: scroll;
  margin-bottom: 0.88em;
}

.highlight .p {
  font-size: 1.125rem;
  line-height: 1;
}


blockquote {
  padding: 1.43em;
  font-style: italic;
  margin-left: 2em;
  margin-bottom: 4rem;

}

blockquote footer {
  font-size: 1rem;
  font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;  font-style: normal;
  background-color: $website-background;
  padding-top: 1rem;
  color: #7a7a7a;
  display: block;
  float: right;
  border-color: transparent;
  text-align: right;
}

blockquote p {
  font-size: 2rem;
  display: inline;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.2;
  margin: 2.25em 0 0.25em;
}

.social-icons {
    padding: 0.5em 0 0 0;
    font-size: .9rem;
    width: 100%;
}
.social-icons a.fa {
    padding: 0.5em;
    opacity: 0.8;
    cursor: pointer;
    margin-top: -2em;
    color: black;
}
.social-icons a.fa:hover {
    opacity: 1;
    //color: #002EA7;
  border-bottom: 1px solid black;
}
.social-icons iframe[title=Flattr] {
    position: relative;
    top: 0.1em;
}

/********************

  Custom styles for landing page
  @lyleklyne

********************/


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.randbg {
  background: url('../../../images/bg/0.jpg') no-repeat center center fixed;
}

.randbg.bg1 {
  background: url('../../../images/bg/1.jpg')no-repeat center center fixed;
}
.randbg.bg2 {
  background: url('../../../images/bg/2.jpg')no-repeat center center fixed;
}
.randbg.bg3 {
  background: url('../../../images/bg/3.jpg')no-repeat center center fixed;
}

.randbg.bg4 {
  background: url('../../../images/bg/5.jpg')no-repeat center center fixed;
}

#frontbleedImg {
  z-index: -500;
}

.front {
  z-index: 999;
  min-height: 100vh;
  margin-bottom: -10rem;
}

.front-menu-container {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
}

.front-logo {
  padding-bottom: 3rem;
  height: 300px;
  width: 300px;
  opacity: 0.8;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.front-logo:hover {
  opacity: 1;
}

.front-nav a {
  color: #fff;
  width: 300px;
  font-size: 1.43rem;
  text-shadow: 1px 1px 4rem #000;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.front-nav a:hover {
  border-bottom: 2px solid #fff;
  box-shadow: 0 2px 2px -2px #000;
}


/* Video Player responsiveness */

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Page navigation */
.page-navigation {
  font-size: 1rem;
  display: block;
  width: auto;
  overflow: hidden;
}

.page-navigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.page-navigation .next {
  text-align: right;
}


/********************

  Portfolio CSS styles 
  @lyleklyne

*********************/




.container {
    width: 100%;
    margin: 2em 0;
    -webkit-transform: translateZ(0);
}


.center-span {
  width: 100%;
  text-align: center;
}

.profile-pic {
  width: 164px;
  position: absolute;
  -webkit-border-radius:82px;
  -moz-border-radius:82px;
  border-radius:82px;
  margin: 0 auto;
  left: 50%;
  margin-left: -82px !important;
  opacity: 1!important;

}

.profile-bounding-box {
  width: 148px;
  height: 148px;
  left: 50%;
  margin-left: -86px;
  margin-top: -4px;
  border: 12px black;
  border-style: solid;
  position: absolute;
  background: none;
  content:"";
  opacity: 1!important;
}

.profile-pic-container {
  height: 200px;
}

.random {
  position: absolute;
  z-index: -100;
}

.transparent {
  opacity: 0;

  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.loaded {
  opacity: 1;
}


.square {
  content: "";
  border: 5px black;
  border-style: solid;
  height: 10px;
  width: 10px;
}

.square2 {
  content: "";
  border: 5px black;
  border-style: solid;
  height: 5px;
  width: 5px;
}

.square3 {
  content: "";
  border: 1px black;
  border-style: solid;
  height: 2px;
  width: 2px;
  background: black;
}

.moon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 3px 3px 0 0 black;
}

.cross {
  background: black;
  height: 25px;
  position: relative;
  width: 5px;
}
.cross:after {
  background: black;
  content: "";
  height: 5px;
  left: -10px;
  position: absolute;
  top: 10px;
  width: 25px;
}

.circle {
  content: "";
  border: 5px black;
  border-style: solid;
  height: 4px;
  width: 4px;
  border-radius: 10px;
}

.circle-small {
  content: "";
  background: black;
  height: 6px;
  width: 6px;
  border-radius: 10px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 17.32px solid black;
}

.triangle-small {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8.66px solid black;
}

.shapes-container {
  max-height: 1px;
}

.tagline p {
  background: $website-background;
  -webkit-box-shadow: 0px 0px 80px 50px rgba($website-background,1);
  -moz-box-shadow: 0px 0px 80px 50px rgba($website-background,1);
  box-shadow: 0px 0px 80px 50px rgba($website-background,1);
}

.logo-shape {
  width: 20px;
  height: 20px;
}

.shapes-container a {
  color: black;
}

.parallax-front {
  opacity: 1;
}

.parallax-middle {
  opacity: 1;
}

.parallax-back {
  opacity: 1;
}

.section-break {
  margin-top: 10rem;
  margin-bottom: 5rem;

}
/******************/



.project-hero-img {
  max-width: 140%;
  margin-left: -20%;
}

#video-modal {
  cursor: pointer;
  //position: absolute;
  //margin-top: 21rem;
}


.portfolio-nav-top {
  margin-top: 2rem;
}

.portfolio-nav-top a {
  color: #fff;
}

.project-summary {
  display: flex;
  flex-wrap: wrap;
}

.project-overview {
  flex: 3;
  margin-right: 3rem;
  min-width: 25rem;
}

.project-overview p {
  margin-top: 2.1rem;
}

.project-details {
  flex: 2;
  font-size: 0.5em;
}

.project-hero-container {
  display: flex;
  justify-content: center;
}

.project-hero {
  width: 36%;
  height: 36%;
  margin-top: -2rem;
}

.tagline {
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.tagline p {
  font-size: 1.9rem;
  margin: 2rem 0 2rem 0;
}

.work {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}

.work img {
  flex: 0 auto;
  margin-bottom: -2.5rem;
  height: 100%;
  border-radius: 5px;
  z-index: 10;



  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

}

.image-bg img{
  transform: scale(1) !important;
  margin: 0 !important;
  opacity: 1 !important;
  z-index: -10 !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.image-bg img{
  z-index: -10 !important;

}

.box {
  height: 240px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 100, 0);
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 auto;
  //backface-visibility: hidden;
}

.work .box {
  background: white;
  position: relative;
}


.box:hover {
  box-shadow: 0 6px 36px rgba(black, .3);

}

.skew img {
  opacity:  1;
  transform: scale(0.8) rotate(0deg);

}

.skew:hover img {
  opacity: 0.5;
  transform: scale(0.5) rotate(-15deg) translateY(45px) skewX(10deg);
  -webkit-transform: scale(0.7) rotate(-15deg) translateY(45px) skewX(10deg);

}

.shrink img {
  opacity:  1;
  transform: scale(.9);

}

//.shrink:hover img {
//  opacity: 1;
//  transform: ranslateX(150px);
//  -webkit-transform: translateX(150px);
//
//}

.shrink:hover img {
  opacity: 0;
  transform: scale(0.1) translateY(30px);
  -webkit-transform: scale(0.6) translateY(30px);

}

.enlarge img {
  opacity:  1;
  transform: scale(.8);

}

.enlarge:hover img {
  opacity: 0.5;
  transform: scale(1);
  -webkit-transform: scale(1.2);

}

.box .description {
   transition: all .2s ease;
   opacity: 0;
 }

.box:hover .description {
  opacity: 1;
}
//
//.box .title {
//  transition: all .2s ease;
//  opacity: 0;
//}
//
//.box:hover .title {
//  opacity: 1;
//}

.grow { transition: all .5s ease; }

//.grow:hover { transform: scale(1.04); }

.grow:hover {
  transform: scale(1.01);
}


.work a {
  flex: 1 auto;
  -webkit-filter: grayscale(20%); /* Chrome, Safari, Opera */
  filter: grayscale(20%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

}

.work a:hover {
  -webkit-filter: blur(0px) grayscale(0%); /* Chrome, Safari, Opera */
  filter: blur(0px) grayscale(0%);
}

.work .normal {
  width: 30%;
}

.work .featured {
  width: 48%
}

.work .full-width {
  width: 100%
}

.last {
  flex: none;
  width: 31%
}

.current {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}


.title {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  left: 15px;
  top: 15px;
  z-index: 1;
  text-align: left;
  transform: translate3d(0, 0, 0);
  //color: white;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  margin-right: 15px;


}

.description {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  left: 15px;
  top: 45px;
  z-index: 1;
  text-align: left;
  font-size: 18px;
  text-shadow: 0 1px 0 rgba(black, .5);
  margin-right: 15px;
  opacity: 0.8;
  max-width: 12rem;

}

.white-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $website-background;
  border-radius: 5px;
}

.portfolio-red2 {
  background-color: #8DC6FF
}

//.portfolio-purple {
//  background-color: #583C87;
//}

.portfolio-green {
  background-color: #3EC8AC;
}

.portfolio-orange {
  background-color: #F87D09;
}


// Variables for portfolio tile colors

$stop-1: .01;
$stop-1: .02;
$stop-1: .03;


$portfolio-blue: #6495ED;

$portfolio-red: #F38181;
$portfolio-red-alt: #FF5722;

$portfolio-teal: #6AC1B8;
$portfolio-teal-alt: #A1F480;

$portfolio-purple: #A56CC1;
$portfolio-purple-alt: #A6ACEC;

$portfolio-aqua: #F07B3F;
$portfolio-aqua-alt: #F07B3F;


.portfolio-white {
  position: relative;
  color: #333;
  border: 2px $portfolio-blue;
  box-shadow: 8px 12px 30px rgba(gray, .5);
  border-radius: 12px;
}

.portfolio-white:hover {
  box-shadow: 8px 12px 36px rgba(gray, .4);
}

.portfolio-white:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;

}


.portfolio-blue {
  position: relative;
  color: $portfolio-blue;
  border: 2px $portfolio-blue;
  border-style: solid;
  box-shadow: 2px 2px 10px rgba($portfolio-blue, .5);
}

.portfolio-blue:hover {
  box-shadow: 2px 2px 24px rgba($portfolio-blue, .6);
}

.portfolio-blue:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;

  background: rgba(#6495ED,.5); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(83,216,251,.01) 0%, rgba(83,203,241,.1) 42%, rgba($portfolio-blue,.4) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(83,216,251,.01) 0%,rgba(83,203,241,.1) 42%,rgba($portfolio-blue,.4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(83,216,251,.01) 0%,rgba(83,216,251,.1) 42%,rgba($portfolio-blue,.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53d8fb', endColorstr='#6495ed',GradientType=1 );
}

.portfolio-red {
  color: $portfolio-red;
  border: 2px $portfolio-red;
  border-style: solid;
  box-shadow: 2px 2px 10px rgba($portfolio-red, .5);

}

.portfolio-red:hover {
  box-shadow: 2px 2px 24px rgba($portfolio-red, .6);
}

.portfolio-red:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;

  background: rgb(244, 186, 132); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba($portfolio-red-alt, .01) 0%, rgba($portfolio-red-alt, .1) 42%, rgba($portfolio-red, .4) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba($portfolio-red-alt, .01) 0%, rgba($portfolio-red-alt, .1) 42%, rgba($portfolio-red, .4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba($portfolio-red-alt, .01) 0%, rgba($portfolio-red-alt, .1) 42%, rgba($portfolio-red, .4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4ba84', endColorstr='$portfolio-red', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}

.portfolio-teal {
  color: $portfolio-teal;
  border: 2px $portfolio-teal;
  border-style: solid;
  box-shadow: 2px 2px 10px rgba($portfolio-teal, .5);

}

.portfolio-teal:hover {
  box-shadow: 2px 2px 24px rgba($portfolio-teal, .6);
}

.portfolio-teal:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;

  background: rgb(244,186,132); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba($portfolio-teal-alt,.01) 0%, rgba($portfolio-teal-alt,.1) 42%, rgba($portfolio-teal,.4) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba($portfolio-teal-alt,.01) 0%,rgba($portfolio-teal-alt,.1) 42%,rgba($portfolio-teal,.4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba($portfolio-teal-alt,.01) 0%,rgba($portfolio-teal-alt,.1) 42%,rgba($portfolio-teal,.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ba84', endColorstr='$portfolio-teal',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.portfolio-purple {
  color: $portfolio-purple;
  border: 2px $portfolio-purple;
  border-style: solid;
  box-shadow: 2px 2px 10px rgba($portfolio-purple, .5);

}

.portfolio-purple:hover {
  box-shadow: 2px 2px 24px rgba($portfolio-purple, .6);
}

.portfolio-purple:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;

  background: rgb(244,186,132); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba($portfolio-purple-alt,.01) 0%, rgba($portfolio-purple-alt,.1) 42%, rgba($portfolio-purple,.4) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba($portfolio-purple-alt,.01) 0%,rgba($portfolio-purple-alt,.1) 42%,rgba($portfolio-purple,.4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba($portfolio-purple-alt,.01) 0%,rgba($portfolio-purple-alt,.1) 42%,rgba($portfolio-purple,.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ba84', endColorstr='$portfolio-teal',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.portfolio-aqua {
  color: $portfolio-aqua;
  border: 2px $portfolio-aqua;
  border-style: solid;
  box-shadow: 2px 2px 10px rgba($portfolio-aqua, .5);
  background: rgb(244,186,132); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba($portfolio-aqua-alt,.01) 0%, rgba($portfolio-aqua-alt,.01) 42%, rgba($portfolio-aqua,.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba($portfolio-aqua-alt,.01) 0%,rgba($portfolio-aqua-alt,.01) 42%,rgba($portfolio-aqua,.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba($portfolio-aqua-alt,.01) 0%,rgba($portfolio-aqua-alt,.01) 42%,rgba($portfolio-aqua,.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ba84', endColorstr='$portfolio-teal',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

.portfolio-aqua:hover {
  box-shadow: 2px 2px 24px rgba($portfolio-aqua, .6);
}

//.portfolio-blue:hover {
//  color: white;
//  border: 3px #6495ED;
//  border-style: solid;
//  box-shadow: 0 2px 30px rgba(#6495ED, .5);
//  background: rgba(83,216,251,.5); /* Old browsers */
//  background: -moz-linear-gradient(-45deg, rgba(83,216,251,1) 0%, rgba(83,203,241,1) 42%, rgba(100,149,237,1) 100%); /* FF3.6-15 */
//  background: -webkit-linear-gradient(-45deg, rgba(83,216,251,1) 0%,rgba(83,203,241,1) 42%,rgba(100,149,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
//  background: linear-gradient(135deg, rgba(83,216,251,.5) 0%,rgba(83,203,241,.7) 42%,rgba(100,149,237,.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53d8fb', endColorstr='#6495ed',GradientType=1 );
//}

.img-collage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -.1rem;
  margin-right: .1rem;
  margin-bottom: 2.3rem;
}

.img-small {
  flex: 1 auto;
  width: 46%;
  max-height: 16rem;
  padding: .2rem;
}

.img-home {
  position: absolute;
  width: auto;
  height: auto;
  z-index: -1;
  //transform: scale(1.1);
}

//.img-position-1 {
//  top: 10%;
//  left: 8%;
//}

.img-position-2 {
  top: 50%;
  left: 16%;
}

.img-position-3 {
  top: 80%;
  left: 67%;
}

.img-position-4 {
  top: 10%;
  left: 96%;
}

.img-position-5 {
  top: 10%;
  left: 45%;
}

.img-caption {
  font-family: 'Lato', Helvetica, sans-serif;
  margin-top: -2rem;
  margin-bottom: 3rem;
  font-size: .8rem;
}


/*********************

    Media Queries

**********************/

/* Medium/desktop screens */
@media screen and (min-width: 48em) {
  .site-header .site-title {
    float: left;
  }

  .meta,
  .post-meta {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
  }

  .h1,
  h1 {
    font-size: 3.250rem;
  }

  .h2,
  h2 {
    font-size: 2.298rem;
  }

  .h3,
  h3 {
    font-size: 1.625rem;
  }

  .h4,
  h4 {
    font-size: 1.150rem;
  }

  .p,
  p,
  li {
    font-size: 1.2rem;
    line-height: 1.8;
  }


  .small {
    font-size: 1rem;
  }

  .post-link .post-title {
    margin-top: 0.5em;
    font-weight: 900;
  }

  .posts .post {
    margin-bottom: 1.333em;
    padding-bottom: 0.666em;
    border-bottom: thin solid #f3f3f3;
  }

  .posts .post:last-child {
    border-bottom: none;
    margin-bottom: .333em;
    padding-bottom: 0;
  }

  nav ul li {
    font-size: 1rem;
  }

  .project-header-container {
    height: 22rem;
  }

  .post-content img {
    max-width: 100%;
    margin-left: 0;
  }

  .project-hero-img {
    max-width: 140%;
    margin-left: -20%;
  }

  .project-header {
    margin: 1em 0 0.5em;
  }

}




/* Small/mobile screens */
@media screen and (max-width: 48em) {
  .site-header .site-title {
    text-align: center;
  }

  .site-header .site-title {
    float: none;
  }

  .site-header .site-nav {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 0.666em;
    margin-bottom: 1.333em;
  }

  .site-wrap {
    overflow: hidden;
  }

  .front-logo {
  padding-bottom: 3rem;
  height: 240px;
  width: 240px;
  }

  .post-content img {
    max-width: 100%;
    margin-left: 0;
  }

  .front-nav a {
    color: #fff;
    width: 240px;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.12rem;
  }

  .h1,
  h1 {
    font-size: 2.827rem;
  }

  .h2,
  h2 {
    font-size: 1.999rem;
  }

  .h3,
  h3 {
    font-size: 1.413rem;
  }

  .h4,
  h4 {
    font-size: 1rem;
  }

  .site-header {
    text-align: center;
  }

  .site-header .site-title {
    float: center;
  }

  .site-header .site-nav {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 0.666em;
    margin-bottom: 1.333em;
  }

  .social-icons .left, .social-icons .right {
    text-align: center;
    float: none;
  }

  .work figure {
    width: 46%;
    height: 46%;
    margin-top: 4%;
    margin-right: 4%;
  }

  .work figure dl {
    font-size: .8em;
  }

  .project-title {
    padding-top: 10rem;
  }

  .project-header-container {
    height: 26rem;
  }

  .tagline {
    margin-top: -4rem;
  }

  .work .normal {
    width: 48%
  }

  .header {
    position: relative;
  }

  .mb2 {
    margin-top: -4rem;
  }

  .shapes-container {
    display: none;
  }

  .tagline p {
    font-size: 1.7rem;
  }


}

/* Tiny Screens */
@media screen and (max-width: 32em) {
  .work figure {
    width: 98%;
    height: 98%;
    margin-top: 5%;
    margin-right: 2%;
  }
  .work figure dl dt {
    font-size: 2rem;
  }
  .project-header-container {
    height: 23rem;
  }

  .project-title h1 {
    margin-top: 0rem;
  }

  .portfolio-nav-top {
    margin-top: 0;
  }
  .social-icons {
    font-size: .9rem;
  }

  .work .normal {
    width: 100%
  }

  .work .featured {
    width: 100%;
  }

  .project-overview {
    min-width: 21rem;
  }

  .desktop-spacer {
    display: none;
  }

  .mb2 {
    margin-top: -4rem;
  }

  .header {
    position: relative;
  }

  .tagline p {
    font-size: 1.2rem;
  }
}



/* Desktop/large Screens */
@media screen and (min-width: 64em) {
  .container {
    width: 100%;
    -webkit-transform: translateZ(0);
  }

  .h1,
  h1 {
    font-size: 4.498rem;
  }

  .h2,
  h2 {
    font-size: 3.18rem;
  }

  .h3,
  h3 {
    font-size: 2.249rem;
  }

  .h4,
  h4 {
    font-size: 1.591rem;
  }

  .posts .post-meta {
    padding-bottom: .2em;
  }

  .post-link .post-title {
    margin-top: .125em;
  }

  .posts .post {
    margin-bottom: 2.666em;
    padding-bottom: 1.333em;
    border-bottom: thin solid #f3f3f3;
  }

  .posts .post:last-child {
    border-bottom: none;
    margin-bottom: .666em;
    padding-bottom: 0;
  }
  footer {
  }

  footer,
  footer .wrap {
    color: #7a7a7a;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;
    clear: both;
  }

  footer:after {
    content: "";
    display: block;
  }

  .project-header-container {
    height: 28rem;
  }

  .post-content .featured-img img {
    max-width: 62rem;
    margin-left: -7rem;
  }

  .project-hero {
    width: 50%;
    height: 50%;
    margin-top: -4rem;
  }

}

@charset "UTF-8";




/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}



