---
layout: default
title: Portfolio
---


<div class="container">
  <!-- Hide Nav 
  <nav>
    <ul>
        <li id="all">All</li>
        <li id="web">Web</li>
        <li id="mobile">Mobile</li>
        <li id="visual">Visual</li>
    </ul>
  </nav>
-->

    <section class="work">




      <!--{% for project in site.projects %}-->
      <!--<a href="{{ site.url }}{{project[1].project_url }}">-->
        <!--<div class="{{ project[1].category }} box grow ui-shot">-->
          <!--<img src="..{{ project[1].image.url }}" alt="" />-->
          <!--<dl>-->
            <!--<dt class="portfolio-item-title">{{ project[1].title }}</dt>-->
            <!--<dd class="portfolio-item-title">- {{ project[1].category }} -</dd>-->

        <!--</div>-->
      <!--</a>-->

      <!--{% endfor %}-->


      <div class='box grow ui-shot'>
        <img src="../images/projects/spex/spex-ui-lg.png" class="grow-big" alt="" />
        <div class='title'>Spex</div>
        <div class='description'> Mobile app to manage media recorded from a wearable camera.</div>
      </div>

      <a href="/relink">
      <div class='box grow ui-shot'>
        <img src="../images/projects/spex/spex-ui-lg.png" class="grow-big" alt="" />
        <div class='title'>Relink</div>
        <div class='description'> Mobile app to manage media recorded from a wearable camera.</div>
      </div>
      </a>

      <div class='box grow featured image-bg'>
        <img src="../images/projects/daydream/final-03.jpg" class="grow-big" alt="" />
        <div class='title'>Daydream</div>
        <div class='description'> A physical prototype exploring adaptive lighting for commercial spaces.</div>

      </div>

      <!--<div class='box grow' style="background: black">-->
        <!--<div class='wave -one'></div>-->
        <!--<div class='wave -two'></div>-->
        <!--<div class='wave -three'></div>-->
        <!--<div class='title'>Project Three</div>-->
        <!--<div class='description'>This is a great project. My did it all self. Fuu bar bang buzz.</div>-->
      <!--</div>-->

      <!--<div class='box grow'>-->
        <!--<div class='wave -one'></div>-->
        <!--<div class='wave -two'></div>-->
        <!--<div class='wave -three'></div>-->
        <!--<div class='title'>Project Four</div>-->
      <!--</div>-->

      <!--<div class='box grow'>-->
        <!--<div class='wave -one'></div>-->
        <!--<div class='wave -two'></div>-->
        <!--<div class='wave -three'></div>-->
        <!--<div class='title'>Project 5</div>-->
      <!--</div>-->

      <!--<div class='box grow'>-->
        <!--<div class='wave -one'></div>-->
        <!--<div class='wave -two'></div>-->
        <!--<div class='wave -three'></div>-->
        <!--<div class='title'>Project Six</div>-->
      <!--</div>-->
        
    {% for project in site.projects %}

    {% endfor %}
    </section>




      
      <!--
        <figure class="web">
          <a href="#">
            <img src="../images/1.jpg" alt="" />

            <dl>
              <dt>Client</dt>
                <dd>Self</dd>
              <dt>Role</dt>
                <dd>Web</dd> 
            </dl>
          </a>  
        </figure> 

        <figure class="mobile">
          <a href="#">
            <img src="../images/2.jpg" alt="" />
            <dl>
              <dt>Client</dt>
                <dd>Self</dd>
              <dt>Role</dt>
                <dd>Mobile</dd>  
            </dl>
          </a>  
        </figure> 

        <figure class="visual">
          <a href="#">
            <img src="../images/3.jpg" alt="" />
            <dl>
              <dt>Client</dt>
                <dd>Self</dd>
              <dt>Role</dt>
                <dd>Logo</dd> 
            </dl>
          </a>  
        </figure> 

        <figure class="visual">
          <a href="#">
            <img src="../images/kitten.jpg" alt="" />
            <dl>
              <dt>Client</dt>
                <dd>Self</dd>
              <dt>Role</dt>
                <dd>Logo</dd> 
            </dl>
          </a>  
        </figure> 

      </section>

-->

      <!--

  <ul id="projects">
    {% for project in page.projects %}
      <li class="project span5">
        <a href="/portfolio/{{ project[0] }}">
          {% if project[1].image %}
            <img src="{{ project[1].image.url }}" title="{{ project[1].image.title }}" alt="{{ project[1].image.alt }}" />
          {% endif %}

          <p>{{ project[1].short }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
-->

  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">
      {{ content }}
    </div>
  </div>

</div>
