<!DOCTYPE html>
<html>
<A NAME="top"></a>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    
    <div class="project-header-container fader" style="background-image:url({{ page.image.bg_url }});background-color: {{ page.color }};">
      <div class="project-header">
        <div class="project-title post-header mb2">
          <h1>{{ page.title }}</h1>
          <h3>{{ page.description }}</h3>
        </div>

        {% if page.image.hero %}
          <img src="{{ page.image.hero }}" class="project-hero center" alt="{{ page.title }} hero image" />
        {% endif %}
      </div>

    </div>



    <A NAME="content"></a>

    <div class="post p2 p-responsive wrap" role="main">
      <a name="project"></a>
      <div class="measure">
        <!-- begin {{ content }} -->
        <div class="post-header mb2">


          {% if page.website %}
            <div class="website"><a href="{{ page.website }}">{{ page.website }}</a></div>
          {% endif %}
        </div>

        {% if page.endorsements %}
          <div id="endorsements" class="span16">
            <h3>What {{ page.title }} had to say about us:</h3>
            {% for endorsement in page.endorsements %}
              <blockquote>
                {{ endorsement.body }}
                <small>{{ endorsement.from }}, {{ endorsement.role }}</small>
              </blockquote>
            {% endfor %}
          </div>
        {% endif %}

        <div class="project-summary">
          <div class="project-overview">
            <h2>Overview</h2>
            <h6>Summary</h6>
            <p>{{ page.overview }}</p>
          </div>

          <div class="project-details">
            <h2>&nbsp;</h2>
            <h6>Timeline</h6>
            <p>{{ page.timeline }}</p>
            <h6>Role</h6>
            <p>{{ page.role }}</p>
          </div>
        </div>

        <article class="post-content">
            {{ content }}
        </article>

        {% if site.show_related_posts %}
        <h3 class="related-post-title">Related Posts</h3>
        {% for post in site.related_posts %}
        <div class="post ml2">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            <h4 class="post-title">{{ post.title }}</h4>
            <p class="post-summary">{{ post.summary }}</p>
          </a>
        </div>
        {% endfor %}
        {% endif %}



        <!-- end {{ content }} -->
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>