---
---

<!DOCTYPE html>
<html>
<A NAME="top"></a>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    
    <div class="project-header-container fader" style="background-image:url({{ page.image.bg_url }}), linear-gradient(#eb01a5, #d13531);">
      <div class="project-title post-header center mb2">
        <h1>{{ page.title }}</h1>
        <h3>{{ page.description }}</h3>
        
        <div class="project-title-img">
        </div>
        
        <div class="social-icons">
          <div class="center portfolio-nav-top">
            <a class="fa fa-chevron-left fa-2x" alt="Previous Project" href="{{ site.url }}{{ page.previous_url }}"></a>
            <a class="fa fa-chevron-down fa-2x" alt="View Project" href="#content"></a>
            <a class="fa fa-chevron-right fa-2x" alt="Next Project" href="{{ site.url }}{{ page.next_url }}"></a>
          </div>
        </div>
          <!-- <a href="{{site.url}}{{project[1].project_url}}/#project"><img class="arrow-down absolute-center block" src="../../../images/arrow-down.png"></a> -->
          <A NAME="content"></a>
      </div>
    </div>

    
    <div class="post p2 p-responsive wrap" role="main">
      <a name="project"></a>
      <div class="measure">
        <!-- begin {{ content }} -->
        <div class="post-header mb2">
          

          {% if page.website %}
            <div class="website"><a href="{{ page.website }}">{{ page.website }}</a></div>
          {% endif %}
        </div>

        {% if page.endorsements %}
          <div id="endorsements" class="span16">
            <h3>What {{ page.title }} had to say about us:</h3>
            {% for endorsement in page.endorsements %}
              <blockquote>
                {{ endorsement.body }}
                <small>{{ endorsement.from }}, {{ endorsement.role }}</small>
              </blockquote>
            {% endfor %}
          </div>
        {% endif %}

        <article class="post-content">

          <!-- Problem, solution, tools used, result 
          {% if page.problem %}
              <div>
                <p>{{ page.problem | markdownify }}</p>
                <p>{{ page.solution | markdownify }}</p>
              </div>
            </article>
          {% endif %}

          {% if page.tools_used %}
              <div>
                <p>{{ page.tools_used | markdownify }}</p>
              </div>
            </article>
          {% endif %}

          {% if page.result %}
              <div>
                <p>{{ page.result | markdownify }}</p>
              </div>
          {% endif %} -->
          {% if page.project %}
            <div>
              <p>{{ page.project | markdownify }}</p>
            </div>
          {% endif %}

          <!-- Main body of project -->
          {% if page.body %}
              <div>
                <p>{{ page.body | markdownify }}</p>
              </div>
          {% endif %}

          <!--
          {% if page.tools_used %}
              <div>
                <p>{{ page.tools_used | markdownify }}</p>
              </div>
            </article>
          {% endif %}
        -->
          
        <div class="social-icons">
          <div class="center">
            <a class="fa fa-arrow-circle-left fa-2x" href="{{ site.url }}{{ page.previous_url }}"></a>
            <a class="fa fa-times-circle fa-2x" href="#top"></a>
            <a class="fa fa-arrow-circle-right fa-2x" href="{{ site.url }}{{ page.next_url }}"></a>
          </div>
        </div>
        </article>


        <!-- end {{ content }} -->
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>